{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Hello, world.</h1>
{% endblock %}
